html {
    font-size: 20px 
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: #ddd;
}

a:visited {
    color: #999;
}

a:hover {
    color: white;
}

table, tr, th, td, caption {
    border: 1px solid whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem; /* 10px since root element font-size is 20px */
}